<div class="Container">
  <div class="topo">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid" text="white">
          <a class="nav-link link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Motos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Scooter</a></li>
            <li><a class="dropdown-item" href="#">Sport</a></li>
            <li><a class="dropdown-item" href="#">Street</a></li>
            <li><a class="dropdown-item" href="#">Touring</a></li>
            <li><a class="dropdown-item" href="#">Trail</a></li>
          </ul>
            <a class="nav-link link" aria-current="page" mb-2 href="#">Cadastre-se</a>
            <a class="nav-link link" href="#">Login</a>
            <a class="nav-link link" href="#">Custom</a>
              
            <a class="navbar-brand end" href="#"><h3>SAmotors</h3></a>

      <form class="d-flex end ">
        <input class="form-control me-2" type="search" placeholder="Digite Aqui" aria-label="Search"  ion-icon="search-outline">
      </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
  </div>
 <div class="conteudo">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://media.motociclismoonline.com.br/uploads/2021/04/Suzuki-GSX-S750.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://u.motoscdn.com.br/brands/GJUQ/motorcycles/5VQTXI/B0TROBOL/featured_image/8010/conversions/CHAPADA-ofertas.png?v=c05a733f" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://u.motoscdn.com.br/brands/GJUQ/motorcycles/KVGGMZ/HVH9NWY2/featured_image/1462/conversions/hayabusa-glass-black-ofertas.png?v=6d80a567" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="https://www.moto.com.br/img/2017/11/13/img123598-1510585170-v580x435.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Street</h5>
        <p class="card-text">FAZER 250.</p>
        <p class="card-text"><small class="text-muted">Modelo da Yamaha segue na quinta posição, mas teve aumento significativo de unidades emplacadas em relação a maio</small></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://voltzmotors.com/wp-content/uploads/2021/09/EV1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Scooter</h5>
        <p class="card-text">EV1 SPORT.</p>
        <p class="card-text"><small class="text-muted">A EV1 SPORT. é a primeira moto da Voltz e chegou ao mercado brasileiro para revolucionar a mobilidade urbana.</small></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.bestriders.com.br/wp-content/uploads/2012/05/Honda-Broz.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Trail</h5>
        <p class="card-text">Honda NXR 150 Bros ESD</p>
        <p class="card-text"><small class="text-muted">A Honda Bros é a líder do segmento graças ao seu conjunto totalmente adequado para o brasileiro. Em relação à sua antecessora, a XLR 125, a Bros se tornou muito mais urbana e voltada para o asfalto.</small></p>     
       </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.orionmotos.com.br/files/template_cache/17975dd0a8b5ce0756a8c9f3e2f1e99e.PNG" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Touring</h5>
        <p class="card-text">GL 1800 Gold Wing Tou</p>
        <p class="card-text"><small class="text-muted">A nova Gold Wing Tour é uma das principais motocicletas da Honda, oferecendo os mais altos níveis de desempenho e sofisticação. Descubra o que existe além do horizonte com a nova GL 1800 Gold Wing Tour.</small></p>     
       </div>
    </div>
  </div>
</div>
  
    </div>
</div>

