.Container{
    background-color: rgb(219, 219, 219);
}

.link{
    color: white;
    text-decoration: none;
    margin-left: 0px;
}

.conteudo{
    height: 100%;
    width: 100%;
    border: 5px;
}

.carousel{

    width: 100%;
    background-color: grey;
    top: 50px;
}

 .card{
    left: 20px;
    margin-right: 30px;
    margin-top: 50px;
    }

    .row{
        margin-top: 50px;
    }

    .end{
        margin-left: -;
    }